[Desktop Entry]
Version=2.0.0
Type=Application

Exec=microhope-doc
Icon=gnome-word.png

Name=microHOPE Manual

Comment=microHOPE User Manual
Categories=Electronics;Education;Science;

Terminal=false
NoDisplay=false
StartupNotify=false
