[Desktop Entry]
Version=2.0.0
Type=Application

Exec=python /usr/share/microhope/mh-ide.py
Icon=mh-logo.png
Name=µHOPE
Comment=MicroHOPE microcontroller programming system

Categories=Education;Science;
MimeType=application/x-python

Terminal=false
NoDisplay=false
StartupNotify=false
