[Desktop Entry]
Version=2.0.0
Type=Application

Exec=microhope
Icon=mh-logo.png
Name=microHOPE
Comment=MicroHOPE microcontroller programming system

Categories=Education;Science;
MimeType=application/x-python

Terminal=false
NoDisplay=false
StartupNotify=false
