.buildinfo

*/rst/exp/_build/epub/*
!*/rst/exp/_build/epub/eyes17.epub

*/rst/exp/_build/latex/*
!*/rst/exp/_build/latex/eyes17.pdf

*/rst/qt5HTML/objects.inv
*/rst/qt5HTML/search.html
*/rst/qt5HTML/searchindex.js
*/rst/qt5HTML/_source

doctrees/

*/rst/exp/_static/
*/rst/qt5HTML/

*.zip
