*.doctree
environment.pickle
*.xhtml
content.opf
toc.ncx
_sources/

*/rst/exp/_build/epub/*
!*/rst/exp/_build/epub/eyes17.epub

objects.inv

*/rst/exp/_build/latex/*.pdf
!*/rst/exp/_build/latex/eyes17.pdf

*/rst/exp/_build/latex/*.sty
*/rst/exp/_build/latex/*.cls

*/rst/exp/_build/latex/*.png
*/rst/exp/_build/latex/*.jpg
*/rst/exp/_build/latex/*.svg

*/rst/exp/_build/latex/*.aux
*/rst/exp/_build/latex/*.fdb*
*/rst/exp/_build/latex/*.fls
*/rst/exp/_build/latex/*.idx
*/rst/exp/_build/latex/*.ilg
*/rst/exp/_build/latex/*.ind
*/rst/exp/_build/latex/*.log
*/rst/exp/_build/latex/*.out
*/rst/exp/_build/latex/*.tex
*/rst/exp/_build/latex/*.toc

*/rst/exp/_build/latex/Makefile
*/rst/exp/_build/latex/latexmkjarc
*/rst/exp/_build/latex/latexmkrc
*/rst/exp/_build/latex/python*


*/rst/qt5HTML/objects.inv
*/rst/qt5HTML/search.html
*/rst/qt5HTML/searchindex.js