#!/bin/bash

set -e

PACKAGE="expeyes-web"

. /usr/share/debconf/confmodule

# Package maintainer's commands follow:
db_input high expeyes-web/reconfigure-webserver || true
db_input high expeyes-web/expeyes-site || true
db_input high expeyes-web/school-site || true
db_go
# End of package maintainer's commands

exit 0
