* {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 14pt !important;
}

@media print {
.md-typeset {
font-size: 12pt !important;
}
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
font-size: 16pt;
}
}
