[Desktop Entry]
Version=1.0.0
Type=Application

Exec=expeyes-junior-doc
Icon=eyesj-doc

Name=expEYES Junior Manual

Comment=expEYES Junior User Manual
Categories=Electronics;Education;Science;
MimeType=application/x-pdf

Terminal=false
NoDisplay=false
StartupNotify=false
