[Desktop Entry]
Version=0.9.0
Type=Application

Exec=expeyes-doc
Icon=eyes-doc

Name=expEYES Manual

Comment=expEYES User Manual
Categories=Electronics;Education;Science;

Terminal=false
NoDisplay=false
StartupNotify=false
