[Desktop Entry]
Version=5.0.0
Type=Application

Exec=python /usr/share/expeyes/eyes-17/scope17.py
Icon=eyes17-logo.png

Name=ExpEYES-17
Comment=EXPEYES-17

Categories=ExpEYES;Education;Science;Other;	
MimeType=application/x-python

Terminal=false
NoDisplay=false
StartupNotify=false
