[Desktop Entry]
Version=5.0.0
Type=Application

Exec=/usr/bin/eyes17
Icon=eyes17-logo.png

Name=ExpEYES-17
Comment=EXPEYES-17

Categories=GNOME;Application;Education;Science;

Terminal=false
NoDisplay=false
StartupNotify=false
