[Desktop Entry]
Version=1.0.1
Type=Application

Exec=/usr/bin/expeyes-junior
Icon=expeyes-junior-icon.png

Name=ExpEYES Junior
Comment=EXPEYES Junior

Categories=GNOME;Application;Education;Science;

Terminal=false
NoDisplay=false
StartupNotify=false
