#!/usr/bin/env xdg-open
[Desktop Entry]
Version=0.9.0
Type=Application

Exec=/usr/bin/eyes17-manuals
Icon=eyes17-manuals

Name=EYES17 Manual

Comment=EYES17 User Manual
Categories=Electronics;Education;Science;

Terminal=false
NoDisplay=false
StartupNotify=false
