[Desktop Entry]
Version=1.0.1
Type=Application

Exec=/usr/share/expeyes/eyes/alpha.py
Icon=nuclear-icon.png
Name=Phoenix-AlphaSpec
Comment=Phoenix Alpha Spectrometer

Categories=Education;Science	

Terminal=false
NoDisplay=false
StartupNotify=false
